<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:fragment="head(title,description)">
	
		<!-- 页面说明参数 -->
		<title th:text="${title}"></title>
		<meta name="description" th:content="${description}" />
		<meta charset="utf-8" />
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
	    <meta http-equiv="Cache-Control" content="no-siteapp" />
	    <link rel="stylesheet" th:href="@{/assets/css/font.css}">
		<link rel="stylesheet" th:href="@{/assets/css/xadmin.css}">
		<meta name="_csrf" th:content="${_csrf.token}"/>
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	   
	    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
	    <!--[if lt IE 9]>
	      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
	      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	    <script type="text/javascript" th:src="@{/assets/lib/jquery.min.js}"></script>
	    <script type="text/javascript">
        $(function(){
        	var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function(e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
    	})
	    </script>
	</head>

	<body class="no-skin">
		<div class="x-nav"  th:fragment="nav(category,column)">
	      <span class="layui-breadcrumb">
	        <a>首页</a>
	        <a th:text="${category}"></a>
	        <a>
	          <cite th:text="${column}">导航元素</cite></a>
	      </span>
	      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
	        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
	    </div>
	    
	</body>
</html>
