/*!
 * login page stylesheets
 * KILLHAPPY. 2013-08-10
 */

body, div, p, span, img, form, fieldset { margin:0; padding:0; }
body { color:#666; font:12px/1.125 Arial,Helvetica,sans-serif; }
* { outline:none; word-wrap:break-word; }

.fl { float:left; }
.fr { float:right; }

.hidefocus { hide-focus:expression(this.hideFocus=true); }
.hidefocus { outline:none; }

#login-page-container { margin:0; padding:0; text-align:center; display:block; }
#login-page-container .login-table { margin:120px auto 0; padding:0; width:500px; text-align:left; border-collapse:collapse; }

#login-page-container .login-title { margin:0; padding:0; width:180px; height:150px; padding-right:30px; vertical-align:top; background:url(../images/line_bg.gif) no-repeat right center; }
#login-page-container .login-title h1 { margin:0 0 10px; padding:0; line-height:24px; color:#0082CD; font-size:20px; font-weight:bold; display:block; overflow:hidden; }
#login-page-container p { margin:0; padding:0; color:888; font-size:12px; display:block; overflow:hidden; }

#login-page-container .logintitle { color:#666; height:24px; line-height:24px; font-size:14px; font-weight:700; }
#login-page-container .loginform { margin-bottom:16px; font-size:14px; }
#login-page-container .loginform .txt { margin-top:2px; width:240px; }
#login-page-container .loginform .v-code { width:80px; }

#login-page-container input { margin:0; padding:2px 5px; color:#333; -moz-border-bottom-colors:none; -moz-border-image:none; -moz-border-left-colors:none; -moz-border-right-colors:none; -moz-border-top-colors:none; background:none repeat scroll 0 0 #f9f9f9; border-color:#666666 #cccccc #cccccc #666666; border-style:solid; border-width:1px; }
#login-page-container .txt, select, .vmiddle { vertical-align:middle; }
#login-page-container input.txt { padding:2px 5px; height:24px; line-height:24px; font-size:16px; font-weight:bold; font-family:"Courier New"; }
#login-page-container .nofloat { clear:both; text-align:center; }
#login-page-container .button { font-size:16px; }
#login-page-container .nofloat .login-submit-button { margin-right:40px; width:100px; }
#login-page-container .nofloat .login-reset-button { width:100px; }
#login-page-container .login-submit-button { background:none repeat scroll 0 0 #dddddd; border-color:#dddddd #666666 #666666 #dddddd; color:#000000; cursor:pointer; margin:3px 0; padding:2px 5px; vertical-align:middle; }
#login-page-container .login-reset-button { background:none repeat scroll 0 0 #dddddd; border-color:#dddddd #666666 #666666 #dddddd; color:#000000; cursor:pointer; margin:3px 0; padding:2px 5px; vertical-align:middle; }
#login-page-container .txt:hover, #login-page-container .txt:focus { background:none repeat scroll 0 0 #f5f9fd; border-color:#0099cc; }
#login-page-container .hover:hover { background:none repeat scroll 0 0 #f5f9fd; }

#login-page-container .login-error-tips { margin:0 0 10px; padding:0 0 0 10px; width:240px; height:24px; line-height:24px; font-weight:bold; color:#FF6600; border: 1px solid #EEEAC6; background:#FFFDE6; }

#login-page-container .login-page-foot { margin:0; padding:0; display:block; overflow:hidden; }
#login-page-container .login-page-foot .copy-right { margin:120px auto 0; padding:0; color:#999; font-size:12px; text-align:center; }
#login-page-container .login-page-foot .copy-right p { margin:0; padding:0; line-height:150%; display:inline; }
#login-page-container .login-page-foot .copy-right .c-icon { font-family:Arial; }
