<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="layout/templates :: head('用户管理','用户帐号管理')">
		<meta charset="utf-8" />
	</head>

   <div class="x-body layui-anim layui-anim-up">
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red">*</span>邮箱
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_email" name="email" required="" lay-verify="email"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>将会成为您唯一的登入名
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  <span class="x-red">*</span>昵称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_username" name="username" required="" lay-verify="nikename"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_pass" class="layui-form-label">
                  <span class="x-red">*</span>密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="pass" required="" lay-verify="pass"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  6到16个字符
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
                  <span class="x-red">*</span>确认密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="L_repass" name="repass" required="" lay-verify="repass"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  增加
              </button>
          </div>
      </form>
    </div>
	<script th:src="@{/assets/lib/layui/layui.all.js}" charset="utf-8"></script>
	<script type="text/javascript" th:src="@{/assets/js/xadmin.js}"></script>
	<script type="text/javascript">
	$(function(){
		renderTree();
	})
	function delAll () {

        var data = layui.table.checkStatus('main_table').data.length;
  
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
	//加载树形数据
    function renderTree() {
    	$('#groupTree').html('');
    	var treeData;
    	//加载树形结构数据
      	$.ajax({
			type : "get",
			url : "../group/getAllGroup",
			async: false,
			success : function(json){
				treeData=json;
			}
		});
        layui.tree({
            elem: '#groupTree', //指定元素
            target: '_blank', //是否新选项卡打开（比如节点返回href才有效）
            click: function (item) { //点击节点回调
                // document.getElementById('tree_msg_panel').innerHTML = ('当前节名称：' + item.name +
                //     '<br>全部参数：' + JSON.stringify(item));
            	console.info(item);
            	groupRow=item;
            	groupId=item.id;
            	parentID=item.parentID;
            		layui.table.reload('main_table', {
                        url : './queryList',
                        where : {
                            'search_EQ_group.tid' : groupId
                        }
                    })
            }, 
         	nodes:treeData
        });
        
        /* 树形菜单选中样式效果 */
        $('.layui-tree li a').click(function () {
            $('.layui-tree li a').removeClass('active');
            $(this).addClass('active');
        });
    }
	</script>
	</body>
</html>
