<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="layout/templates :: head('用户管理','用户帐号管理')">
		<meta charset="utf-8" />
	</head>

  <body class="layui-anim layui-anim-up">
    <div th:replace="layout/templates :: nav"></div>
    
    
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input class="layui-input" placeholder="开始日" name="start" id="start">
          <input class="layui-input" placeholder="截止日" name="end" id="end">
          <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加用户','./member-add.html',600,400)"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px"></span>
      </xblock>
        <table class="layui-table" lay-filter="main_table" id="main_table"
               lay-data="{id: 'main_table',url:'./queryList', page:true,height:'full-100',cellMinWidth:120}">
            <thead>
            <tr>
                <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
                <th lay-data="{field:'loginName', align:'center'}">登入帐号</th>
                <th lay-data="{field:'userName', align:'center'}">用户名</th>
                <th lay-data="{field:'email', align:'center'}">邮箱</th>
                <th lay-data="{field:'phone', align:'center'}">手机</th>
                <th lay-data="{field:'userStatus', align:'center'}">用户状态</th>
                <th lay-data="{field:'groupName', align:'center'}">所属组织</th>
                <th lay-data="{field:'roleName',align:'center'}">所属角色</th>
                
            </tr>
            </thead>
        </table>
        <script type="text/html" id="barDemo">
			<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
			<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="del">删除</a>
			<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="products_details">查看详情</a>
    	</script>
    </div>
    <script type="text/javascript" th:src="@{/assets/lib/jquery.min.js}"></script>
	    <script th:src="@{/assets/lib/layui/layui.all.js}" charset="utf-8"></script>
	    <script type="text/javascript" th:src="@{/assets/js/xadmin.js}"></script>
	</body>
</html>
