<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="layout/templates :: head('用户管理','用户帐号管理')">
		<meta charset="utf-8" />
	</head>

  <body class="layui-anim layui-anim-up">
    <div th:replace="layout/templates :: nav('系统设置','用户管理')"></div>
    
    
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input type="text" name="loginName"  placeholder="登入帐号" autocomplete="off" class="layui-input">
          <input type="text" name="userName"  placeholder="用户姓名" autocomplete="off" class="layui-input">
          <input type="text" name="userStatus"  placeholder="用户状态" autocomplete="off" class="layui-input">
          <input type="text" name="roleName"  placeholder="所属角色" autocomplete="off" class="layui-input">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
      	<button class="layui-btn" onclick="showAddGroup()"><i class="layui-icon"></i></button>
      	<button class="layui-btn layui-btn-danger" onclick="delGroup()"><i class="layui-icon"></i></button>
        
        <button class="layui-btn layui-btn-danger x-right" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn x-right" onclick="x_admin_show('增加用户','./add',600,400)"><i class="layui-icon"></i>增加用户</button>
        
        <span class="x-right" style="line-height:40px;"></span>
      </xblock>
      <div class="layui-row">
      	<div class="layui-col-md2">
	      <ul id="groupTree" lay-filter='groupTree'></ul>
	    </div>
	    <div class="layui-col-md10">
	      <table class="layui-table" lay-filter="main_table" id="main_table"
               lay-data="{id: 'main_table',url:'./queryList', page:true,height:'full-218',cellMinWidth:120}">
            <thead>
	            <tr>
	                <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
	                <th lay-data="{field:'loginName', align:'center'}">登入帐号</th>
	                <th lay-data="{field:'userName', align:'center'}">用户姓名</th>
	                <th lay-data="{field:'email', align:'center'}">邮箱</th>
	                <th lay-data="{field:'phone', align:'center'}">手机</th>
	                <th lay-data="{field:'userStatus', align:'center'}">用户状态</th>
	                <th lay-data="{field:'groupName', align:'center'}">所属组织</th>
	                <th lay-data="{field:'roleName',align:'center'}">所属角色</th>
	                <th lay-data="{align:'center', toolbar:'#barDemo', minWidth:180, fixed:'right'}">操作</th>
	            </tr>
            </thead>
        </table>
        <script type="text/html" id="barDemo">
			<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
			<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="del">删除</a>
			<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="products_details">查看详情</a>
    	</script>
	    </div>
	    
	  </div>
    </div>
	<script th:src="@{/assets/lib/layui/layui.all.js}" charset="utf-8"></script>
	<script type="text/javascript" th:src="@{/assets/js/xadmin.js}"></script>
	<script type="text/javascript">
	$(function(){
		renderTree();
	})
	var groupRow,groupId = "";
	function showAddGroup(){
		x_admin_show('增加分组',('../group/add?groupId='+groupId),600,260,null,renderTree)
	}
	function delGroup () {
		if(groupId!=""){
			layer.confirm('确认要删除【'+groupRow.name+'】吗？',function(index){
				$.ajax({
					type : "post",
					url : "../group/delete/"+groupId,
					async: false,
					success : function(json){
						if(json.success){
							layer.msg('删除成功', {icon: 1});
							renderTree();
						}else{
							layer.msg('删除失败', {icon: 2});
						}
						
					},
					error : function(){
						layer.msg('服务器通信异常，删除失败', {icon: 2});
					}
				});
	            
	            
	        });
		}else{
			layer.msg('请选择要删除的用户组', {icon: 2});
		}
        
      }
	
	function delAll () {

        var data = layui.table.checkStatus('main_table').data.length;
  
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
	//加载树形数据
    function renderTree() {
    	$('#groupTree').html('');
    	var treeData;
    	//加载树形结构数据
      	$.ajax({
			type : "get",
			url : "../group/getAllGroup",
			async: false,
			success : function(json){
				treeData=json;
			}
		});
        layui.tree({
            elem: '#groupTree', //指定元素
            target: '_blank', //是否新选项卡打开（比如节点返回href才有效）
            click: function (item) { //点击节点回调
                // document.getElementById('tree_msg_panel').innerHTML = ('当前节名称：' + item.name +
                //     '<br>全部参数：' + JSON.stringify(item));
            	console.info(item);
            	groupRow=item;
            	groupId=item.id;
            	parentID=item.parentID;
            		layui.table.reload('main_table', {
                        url : './queryList',
                        where : {
                            'search_EQ_group.tid' : groupId
                        }
                    })
            }, 
         	nodes:treeData
        });
        
        /* 树形菜单选中样式效果 */
        $('.layui-tree li a').click(function () {
        	$('.layui-tree li a').css("background","");
            $(this).css("background","#DCDCDC");
        });
    }
	</script>
	</body>
</html>
